<h2>Create a New Contest</h2>

<form action="contest/new">
  <button class="btn">Create a New Contest</button>
</form>


<h3>My Contests</h3>
<ul>
      <% contest.forEach( (theContest) => { %>
        <li>
          <a href="/contest/<%= theContest._id %>">
            <%= theContest.name %>
          </a>
            <%= theContest.category %>
          <a href="/contest/<%= theContest._id %>/edit">
            Edit
          </a>
          <form action="/contest/<%= theContest._id %>/delete" method="POST">
            <button> Delete </button>
          </form>
        </li>
      <% }); %>
    </ul>
